.project-image {
  width: 400px;
  height: 400px;
  display: block;
  margin: 50px auto;
  border: 3px solid #000000;
}

.project-name {
  font-size: 18pt;
}

.project > * {
  margin-top: 5px;
}

.project-links {
  margin-bottom: 30px;
}

.project-link {
  margin-right: 20px;
}
